
@{
    ViewData["Title"] = "New";
}

@model Attendance

<div class="card">
  <div class="card-header">
    <div class="card-title-wrap bar-success">
      <h4 class="card-title">Request A Form</h4>
    </div>
  </div>

  <div class="card-body">
    <div class="px-3">
        <form asp-action="SaveNew" asp-controller="Attendance" method="post">
        <div class="form-body">
                    
          <div class="form-group row">
            <label class="col-md-3 label-control">Employee Name :</label>
            <div class="col-md-9">
                <select class="form-control" asp-for="EmpId" onchange="setDeptId(this.options[this.selectedIndex].getAttribute('data-deptId'));">
                    <option>Select Employee</option>
                    @foreach (var item in ViewBag.empList)
                    { <option value="@item.Id" data-deptId="@item.DeptId">@item.Name</option> }
                </select>
                <input type="text" asp-for="DeptId" id="deptId" name="deptId" class="form-control" hidden/>
                <span asp-validation-for="EmpId" class="text-danger"></span>
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
          </div> 

          <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput9">Date:</label>
            <div class="col-md-9">
              <div class="position-relative has-icon-left">
                <input asp-for="Date" type="date" id="Date" name="Date" class="form-control" value="@DateTime.Now.Year-@DateTime.Now.Day-@DateTime.Now.Month"/>
                <span asp-validation-for="Date" class="text-danger"></span>
                <div class="form-control-position">
                  <i class="ft-message-square"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row form-group">
              <label class="col-md-3 label-control">Start time: </label>
              <div class="position-relative has-icon-left col-lg-9">
                <input asp-for="AttendanceTime" type="time" id="timesheetinput5" class="form-control" value="09:00:00" />
                <span asp-validation-for="AttendanceTime" class="text-danger"></span>
                <div class="form-control-position">
                  <i class="ft-clock"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row form-group">
              <label class="col-md-3 label-control">End time: </label>
              <div class="position-relative has-icon-left col-lg-9">
                <input asp-for="AbsenceTime" type="time" id="timesheetinput6" class="form-control" value="00:00:00"/>
                <span asp-validation-for="AbsenceTime" class="text-danger"></span>
                <div class="form-control-position">
                  <i class="ft-clock"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="form-actions">
            <button type="button" class="btn btn-danger mr-1">
              <i class="icon-trash"></i><a href="/Attendance/Index">Cancel</a>
            </button>
            <div class="btn btn-success" style="border:none; padding: 6px 12px">
              <label for="btnSubmit"><i class="icon-note"   style="color:#fff; cursor: pointer; padding: 0px; margin: 0px"></i></label>
              <input id="btnSubmit" class="btn btn-success" style="border:none;     padding: 0px; margin: 0px" type="submit" value="save"/>
            </div>

          </div>

      </form>
    </div>
  </div>


</div>



<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
     
    function setDeptId(value) {
        document.getElementById('deptId').value = value;
    }

    window.onload = function getDate(){
        var today = new Date();
        document.getElementById("Date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
    }

</script>