@model HRSystem.Models.Employee

@{
    ViewData["Title"] = "Edit";
    SelectList selectListItems = new SelectList(ViewBag.DepList,"Id","Name");
}


    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="content-header">Add Employees Form</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title" id="horz-layout-basic">Employee Information</h4>
                        </div>
                        <p class="mb-0">This is the basic horizontal form with labels on left and
                            cost estimation form is the default position.</p>
                    </div>

                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="px-3">
                            <form method="post" class="form form-horizontal" asp-action="SaveEdit" asp-controller="Employee" asp-route-id="@Model.Id" >
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="icon-user"></i> Personal Details
                                    </h4>
                                    @*Name*@
                                    <div class="form-group row">
                                        <label  asp-for="Name" class="col-md-3 label-control" ></label>
                                        <div class="col-md-9">
                                            <input asp-for="Name" class="form-control">
                                            <span asp-validation-for="Name" class="text-danger"></span>

                                        </div>
                                    </div>
                                    @*Address*@
                                    <div class="form-group row">
                                        <label  asp-for="Address" class="col-md-3 label-control"></label>
                                        <div class="col-md-9">
                                            <input asp-for="Address" class="form-control">
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @* Mail
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput3">E-mail:
                                        </label>
                                        <div class="col-md-9">
                                            <input type="text" id="projectinput3" class="form-control"
                                                name="email">
                                        </div>
                                    </div>*@

                                    @*Phone*@
                                    <div class="form-group row">
                                        <label asp-for="Phone" class="col-md-3 label-control" ></label>
                                        <div class="col-md-9">
                                            <input asp-for="Phone" class="form-control">
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <h4 class="form-section">
                                        <i class="icon-book-open"></i>Other Details
                                    </h4>
                                    @*BirthDay*@
                                    <div class="form-group row">
                                        <label  asp-for="BirthDay" class="col-md-3 label-control" ></label>
                                        <div class="col-md-9">
                                            <div class="position-relative has-icon-left">
                                                <input  asp-for="BirthDay" class="form-control" >
                                                <div class="form-control-position">
                                                    <i class="ft-message-square"></i>
                                                </div>
                                                <span asp-validation-for="BirthDay" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @*Gender*@
                                    <div class="form-group row">
                                        <label asp-for="Gender" class="col-md-3 label-control" ></label>
                                        @*<div class="col-md-9">
                                            <input asp-for="Gender" class="form-control">
                                        </div>*@
                                        <div class="col-md-9">
                                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<TGender>()" class="form-control ">
                                                <option selected="selected" value="0"  disabled="">Please select</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                            </div>
                                    </div>
                                    @*HireDate*@
                                    <div class="form-group row">
                                        <label asp-for="HireDate" class="col-md-3 label-control"></label>
                                        <div class="col-md-9">
                                            <div class="position-relative has-icon-left">
                                                <input asp-for="HireDate" class="form-control ">
                                                <div class="form-control-position">
                                                        <i class="ft-message-square"></i>
                                                </div>
                                                <span asp-validation-for="HireDate" class="text-danger"></span>
                                            </div>                                               
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class="col-md-12">
                                            @*AttendanceTime*@
                                            <div class=" row form-group">
                                                <label asp-for="AttendanceTime"  class="col-md-3 label-control"></label>
                                                <div class="position-relative has-icon-left col-lg-9">
                                                    <input asp-for="AttendanceTime" class="form-control" value="@Model.AttendanceTime.Hour.ToString("D2"):@Model.AttendanceTime.Minute.ToString("D2")">
                                                    <div class="form-control-position">
                                                        <i class="ft-clock"></i>
                                                    </div>
                                                    <span asp-validation-for="AttendanceTime" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            @*AbsenceTime*@
                                            <div class=" row form-group">
                                                <label asp-for="AbsenceTime" class="col-md-3 label-control"></label>
                                                <div class="position-relative has-icon-left col-lg-9">
                                                    <input asp-for="AbsenceTime" class="form-control" value="@Model.AbsenceTime.Hour.ToString("D2"):@Model.AbsenceTime.Minute.ToString("D2")">
                                                    <div class="form-control-position">
                                                        <i class="ft-clock"></i>
                                                    </div>
                                                    <span asp-validation-for="AbsenceTime" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*Salary*@
                                    <div class="form-group row">
                                        <label asp-for="Salary" class="col-md-3 label-control"></label>
                                        <div class="col-md-9">
                                            <input asp-for="Salary" class="form-control" />
                                            <span asp-validation-for="Salary" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @*NationalId*@
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="NationalId"></label>
                                        <div class="col-md-9">
                                            <input asp-for="NationalId" class="form-control">
                                            <span asp-validation-for="NationalId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @*Nationality*@
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="Nationality"></label>
                                        <div class="col-md-9">
                                            <input asp-for="Nationality" class="form-control">
                                            <span asp-validation-for="Nationality" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                        <label class="col-md-3 label-control">Select File: </label>
                                        <div class="col-md-9">
                                            <label id="projectinput8" class="file center-block">
                                                <input type="file" id="file">
                                                <span class="file-custom"></span>
                                                : </label>
                                        </div>
                                    </div>*@
                                    @*Department*@
                                    <div class="form-group row">
                                        <label asp-for="Department" class="col-md-3 label-control"></label>
                                        <div class="col-md-9">
                                            <select asp-for="DeptId" class="form form-control" asp-items="selectListItems" required>
                                                <option selected="selected" value="0"  disabled="">Select Department</option>                                                    
                                            </select>
                                            <span asp-validation-for="DeptId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @*<button type="reset" class="btn btn-danger mr-1">
                                        <i class="icon-trash"></i> Reset
                                    </button>*@
                                    <a asp-action="Details"  asp-route-id="@Model.Id" class="btn btn-danger w-25 mr-1 ">
                                        <i class="icon-trash"></i> Cancel
                                    </a>
                                    <input type="submit" value="Save" class="btn btn-success w-25 pupop">
                                               
                                        <a asp-action="Index" class="btn btn-outline-secondary w-25">Back to list</a>
                                        @*<input type="submit" value="Save" class="btn btn-success"/>
                                        <i class="icon-note"></i> *@

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
            <!-- // Basic form layout section end -->


@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function popup() {
            var check = confirm("Do you want to save Changes?");
            if (!check)
            {
                event.preventDefault();
            }

        }
        $(".pupop").click(function () {

                if (!confirm("Would you like to save this record?")) {
                return false;
              }
         });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
