@model HRSystem.Models.GeneralSettings

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GeneralSettings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraTime" class="control-label"></label>
                <input asp-for="ExtraTime" class="form-control" />
                <span asp-validation-for="ExtraTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deduction" class="control-label"></label>
                <input asp-for="Deduction" class="form-control" />
                <span asp-validation-for="Deduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weekend1st" class="control-label"></label>
                @*<input asp-for="Weekend1st" class="form-control" />*@
                @Html.DropDownListFor(model => model.Weekend1st, new SelectList(ViewBag.WeekEndList),
                " ---Select Weekend1st--- ", htmlAttributes: new{@class="form-control"})
                <span asp-validation-for="Weekend1st" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weekend2nd" class="control-label"></label>
                @*<input asp-for="Weekend2nd" class="form-control" />*@
                @Html.DropDownListFor(model => model.Weekend2nd, new SelectList(ViewBag.WeekEndList),
                " ---Select Weekend2nd--- ", htmlAttributes: new{@class="form-control"})
                <span asp-validation-for="Weekend2nd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>



</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
